/* Universal Styles */
html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: white;
}

body {
  line-height: 1.4rem;
}

.container {
  max-width: 960px;
  margin: auto;
}

.flex {
  display: flex;
}

/* Header */

header {
  height: 4rem;
  width: 100%;
  position: fixed;
  z-index: 1;
  background-color: white;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1rem;
}

h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1rem;
}

h4 {
  font-size: 1rem;
}

header span {
  font-size: 1.5rem;
}

em {
  font-weight: bold;
}

header img {
  padding-left: 1.5rem;
}

nav {
  padding: 1rem 0;
  justify-content: space-between;
}

nav div {
  display: flex;
  align-items: center;
}

ul {
  margin-right: 1.5rem;
}

ul li {
  display: inline;
  padding: 0.5rem;
}

/* Main */

.main {
  padding-top: 4rem;
  background-color: gray;
}

.column1 {
  width: 60%;
  padding: 2rem 1.5rem;

}

.column1 img, video {
  width: 100%;
}

.column2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

.column2 h1,
h3,
button {
  width: 80%;
  line-height: 1.5rem;
  padding: 0.5rem 0;
}

button {
  padding: 0.5rem;
  margin-top: 0.5rem;
}

/* Second Section */

.second {
  padding-bottom: 2rem;
}

.second .column1 {
  justify-content: space-between;
}

.information {
  display: inline;
  padding-top: 1.5rem;
}

 .info {
  display: flex;
  padding: 0.5rem;
  border: 1px black solid;
}

.image-container {
  flex: 3.5;
}


.image-container img, video {
  width: 100%;
  height: auto;
}

.details {
  flex: 6.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}

/* Third Container */
.courses {
  background-color: gray;
}

.title {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: center;
  
}

.course-list {
  flex-flow: row wrap;
  justify-content: center;
  padding-bottom: 1rem;
}

.course {
  width: 25%;
  margin: 1rem;
  background-color: white;
  border: 1px black solid;
}

.course h3 {
  font-weight: 200;
}

.image img {
  width: 100%;
}

.details div * {
  color: red;
}

footer nav {
  justify-content: space-between;
}